@charset "utf-8";

.form-container {
	border: 2px solid black;
}

.card-title {
	text-align:center;
	margin-top: .2em;
	color: black;
}

.form {
	justify-content: center;
}

.form-field-title {
	font-size: 1.5em;
}

.submit {
	width:100%
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}