<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>TripInfo</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous" />
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
   <div class="card form-container center">
     <h2 class="card-title">Welcome Back!</h2>
     <form class="card-body form" action="#" th:action="@{/}" th:object="${user}" method="post">
         <div class="form-row">
            <div class="col">
	            <!-- Username -->
	            <input type="text" class="form-control" placeholder="username" th:field="*{username}" /> 
	            <span class="form-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            </div>
         </div>
         <br /> 
         <div class="form-row">
            <div class="col">
            <!-- Password -->  
	            <input type="text" class="form-control" placeholder="password" th:field="*{password}" /> 
	            <span class="form-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
	         </div>
         </div>
         
         <br />
         
         <!-- Submit -->
         <div>
           <input class="btn btn-success submit" type="submit" value="Submit" />
         </div>
         <div>
            <a href="/signup">Not a member? Sign up now.</a>
         </div>
     </form>
  </div>
</body>
</html>