<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>TripInfo</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous" />
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
	<div class="card form-container center">
	  <h2 class="card-title">Trip Info</h2>
	  <br />
	  <form class="card-body form" action="#" th:action="@{/packages}" th:object="${tripInfo}" method="post">
	     <div class="form-row">
	        <!-- Departure City -->
			  <span class="form-field-title">Departure City: </span>
		     <input type="text" th:field="*{startingCity}" /> 
		     <span th:if="${#fields.hasErrors('startingCity')}" th:errors="*{startingCity}">
			  </span> 
			  
			  <br />
			  
			  <!-- Destination City -->
			  <span class="form-field-title">Destination City: </span>
			  <input type="text" th:field="*{destinationCity}" />
			  <span th:if="${#fields.hasErrors('destinationCity')}" th:errors="*{destinationCity}"></span> 
			</div>
			
			<br /> 
			
			<div class="form-row">
			  <!-- Departure Date -->
			  <span class="form-field-title">Departing Date: </span>
			    <input type="date" th:field="*{departureDate}" /> 
			      <span th:if="${#fields.hasErrors('departureDate')}" th:errors="*{departureDate}"></span>
			    <br /> 
			  <span class="form-field-title">Arrival Date: </span>
			    <input type="date" th:field="*{arrivalDate}" /> 
			      <span th:if="${#fields.hasErrors('arrivalDate')}" th:errors="*{arrivalDate}"></span>
			    <br /> 
			</div>
			
			<br />
			
			<!-- Submit -->
		   <div>
		     <input class="btn btn-success submit" type="submit" value="Submit" />
		   </div>
	  </form>
  </div>
</body>
</html>